.vscode
Tests
images/users_photos/originals/*.jpg
images/users_photos/thumbs_small/*.jpg
images/users_photos/thumbs_medium/*.jpg
images/users_photos/thumbs_tiny/*.jpg
!images/users_photos/thumbs_small/default.jpg
!images/users_photos/thumbs_medium/default.jpg
!images/users_photos/thumbs_tiny/default.jpg
!images/users_photos/originals/default.jpg
images/lists_photos/originals/*.jpg
images/lists_photos/thumbs_small/*.jpg
images/lists_photos/thumbs_medium/*.jpg
images/lists_photos/thumbs_tiny/*.jpg
!images/lists_photos/thumbs_small/default.jpg
!images/lists_photos/thumbs_medium/default.jpg
!images/lists_photos/thumbs_tiny/default.jpg
!images/lists_photos/originals/default.jpg
