/* Common CSS */
/*        COLORS       */
/* green:      #00887a */
/* skin:       #ffccbc */
/* white:      #ffffff */
/* light blue: #d3e3fc */
/* blue:       #77a6f7 */


/*********** BODY ********/

p, span.default, input, button {
  font-family: Comfortaa, sans-serif;
  font-size: 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Amatic SC', serif;
  font-size: 70px;
}

body > * a {
    text-decoration: none;
}

footer a, #header a {
    color: white;
}

body {
    box-shadow: 10px 10px 30px 2px #888888;
    border-radius: 10px;
}

input[type=checkbox] {
  zoom:1.5;
  transform:scale(1.5);
  -ms-transform:scale(1.5);
  -webkit-transform:scale(1.5);
  -o-transform:scale(1.5);
  -moz-transform:scale(1.5);
  transform-origin:0 0;
  -ms-transform-origin:0 0;
  -webkit-transform-origin:0 0;
  -o-transform-origin:0 0;
  -moz-transform-origin:0 0;
  -webkit-transform-origin:0 0;
  vertical-align: text-bottom;
}


/******* ID's *************/
#header h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#header, footer{
  background-color: black;
  color: white;
  font-family: 'Lato Light', serif;
}

footer {
  text-align: center;
  font-family: Comfortaa, sans-serif;
}

/******* ACCOUNT MENU ***********/

#title {
  border: dotted 2px white;
  border-bottom: none;
}

#site_name {
  font-family: 'Amatic SC', sans-serif;
  font-size: 50px;
  letter-spacing: 1px;
  vertical-align: bottom;
}

ul li {
    list-style: none;
}

#logged-out li, footer a {
  padding: 0 10px;
  border-left: 1px solid;
}

#logged-out > li:first-child {
    border: none;
}

#register:hover, #login:hover, #about:hover {
  color: #d3d3d3;
}

#profile_pic {
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 50%;
}


/************ CLASSES **************/

/******* ERRORS ********/

.error_message_invisible, .success_message_invisible
{
    display: none;
}

.error_message
{
    color: red;
    padding-top: 10px;
    margin: 10px;
}

.success_message
{
    color: green;
}

/********** DESIGN **********/

.dropdown-content p:hover {
  background: #ededed;
}

.dropdown-content {
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 5px;
}

.dropdown-content a{
  color: #77a6f7 !important;
  font-size: 15px;
}

.hidden {
  display: none;
}

.full-height {
  min-height: 100vh;
}

.dark {
  color: black;
}

.light {
  color: white;
}

.btn {
  transition: background-color 2s ease;
  transition: border-radius 0.5s ease;
  transition: letter-spacing 0.2s ease;
  font-size: 22px;
  padding: 10px;
  border-radius: 5px;
  background-color: white;
  color: black;
}

.btn:hover {
  cursor: pointer;
  letter-spacing: 2px;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.85);
}

.submit, .delete {
  color: white;
}

.submit {
  background-color: rgba(108, 191, 9, 1) !important;
}

.delete {
  background-color: rgba(199, 0, 0, 1) !important;
}

.delete:hover {
  background-color: rgba(199, 0, 0, 0.85) !important;
}

.submit:hover {
  background-color: rgba(108,191,9, 0.85) !important;
}

.blurb span {
  color: #191919;
}

.blurbs h3 {
  font-size: 30px;
}

.dash-bot {
  width: 80%;
  margin: auto;
  padding: 10px 0;
  border-bottom: dashed 2px black;
  border-bottom-width: medium;
}

input[type=submit], button {
  border: none;
}

input[type=text],
input[type=password],
input[type=email] {
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input:hover{
  letter-spacing: 1px;
}

::-webkit-input-placeholder {
  color: light-gray;
}

.rounded-img {
  border-radius: 50%;
}


.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: white;
  border-radius: 5px;
  font-size: 16px;
  padding: 8px 15px;
  color: black !important;
  cursor: pointer;
  text-align: center;
}

.one-edge-shadow {
	-webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
}

.white-back {
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 5px;
  padding: 1.5em;
}

.white-back > * {
  margin-top: 1em;
}

.centered {
  position: relative;
  margin: 0 auto;
}
