/* Accounts CSS */

#login-page {
  background-image: url("../../images/login.jpg");
  background-size: cover;
}

#register-page {
  background-image: url("../../images/register.jpg");
  background-size: cover;
}

#upload {
  background-image: url("../../images/user_upload.jpg");
  background-size: cover;
}

.account {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 2em;
  text-align: center;
  border-radius: 10px;
}

#login:hover {
  color: black;
}
#register:hover {
  color: black;
}

#edit_account h3 {
  font-size: 30px;
}
