/* Accounts CSS */

.vertical-align {
  position: absolute;
  top: 40%;
  left: 100px;
}

#register.vertical-align, #edit_account.vertical-align {
  margin-top: -90px;
}

.account {
  width: 300px;
}

.account *:not(h1) {
  margin-top: 0.5em;
}

form {
  display: flex;
  flex-direction: column;
}

form * {
  margin: auto;
}

form input {
  padding: 5px;
}


.invisible_captcha 
{
  display: none;
}