#about_div {
  background-image: url("../../images/about.jpg");
  background-size: cover;
}

img {
  border-radius: 5px;
}

ul.authors {
  border-left: dashed 2px black;
  border-right: dashed 2px black;
}
