.centered {
  top: 10vh !important;
}

#inside_about {
  display: flex;
  flex-direction: column;
}

#about_div {
  height: 120vh;
}

#feup_logo {
  margin: auto;
  margin-top: -20px;
  max-width: 60%;
  height: auto;
}

ul.authors {
  width: 50%;
  padding: 1em 2em;
  margin:auto;
}

.authors li {
  padding: 5px;
}
