.feup_logo {

margin-right: 2em;
margin-left: 2em;
margin-top: 0px;

}

.intro {

  text-align: center;
  margin-bottom: 10em;

}

.authors {

  text-align: center;
  border: 20px blue;
  margin-bottom: -2em;

}
