/* Lists CSS */
#body-section {
  background-image: url("../../images/single_list.jpg");
  background-size: cover;
}
.error_message {
    color: rgb(255, 0, 0);
    background-color: rgb(250, 195, 195);
    border-radius: 5px;
    font-weight: bold;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

.delete-button {
    font-size: 11px;
    display: none;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#main_info {
  padding: 1em 0.5em;
  padding-right:  100px;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 10px;
}

#image {
  margin-left: -90px;
}

.list {
  background-color: rgba(255, 255, 255, 0.85);
  padding: 1em 0;
}

#items_list {
  border-radius: 5px 0 0 5px;
  border-right: solid 1px grey;
  border-right-width: thin;
  border-right-style: dashed;
}

#users_list {
  border-radius: 0 5px 5px 0;
}

.white-back {
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 5px;
  padding: 1.5em;
}

.white-back > * {
  margin-top: 1em;
}
