/* Lists CSS */
#single_list, #edit_list {
  background-image: url("../../images/lists_1.jpg");
  background-size: cover;
}

#my_lists, #create_list {
  background-image: url("../../images/single_list.jpg");
  background-size: cover;
}

.error_message {
    color: rgb(255, 0, 0);
    background-color: rgb(250, 195, 195);
    border-radius: 5px;
    font-weight: bold;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#main_info {
  padding: 1em 0.5em;
  padding-right:  100px;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 10px;
}

#image {
  margin-left: -90px;
}

.list {
  padding: 1em 0;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 5px;
}

.list h3 {
  font-size: 50px;
}

#items_list li, #users_list li {
  max-width: 95%;
  margin: 20px 0;
  position: relative;
}

#items_list li span.item, #users_list li span.username {
  display: inline-block;
  margin: 0 20px;
}

#items_list li input[type=checkbox] {
  display: inline-block;
}

#items_list li .btn .delete, #users_list li .btn .delete {
  display: inline-block;
}

.blurb:first-of-type > div{
  border-right: dashed 1px grey;
}

#photo {
  display: flex;
  flex-direction: column;
}

#photo input {
  margin: 10px auto;
}

#delete {
  padding-bottom: 2em;
}
