
/* devia tar associado a id ou classe **/
ul li a {
    color: darkblue;
    text-decoration: none;
}

form.edit-form h3 {
  font-size: 2rem;
  color: white;
  font-weight: 900;
}

form.edit-form {
  background-color: #bfbfbf;
  border-radius: 10px;
  font-family: sans-serif;
}

form.edit-form input
{
    border: 0px;
    background-color: white;
    border-radius: 3px;
}

form.edit-form span
{
    color: white;
}

form.edit-form input[type="submit"],
form.edit-form button.add-btn,
form.edit-form span
{
    font-weight: 600;
    font-size: 1.2rem;
}

form.edit-form input[type="submit"],
form.edit-form button.add-btn
{
    transition: background-color 0.3s;
}

form.edit-form input[type="submit"]:hover
{
    background-color: #DDD;
}

form.edit-form button.add-btn {
  background-color: #27a8f7;
}

form.edit-form input[type="submit"]:active
{
    background-color: #AAA;
    box-shadow: 0 0 0.5rem #444;
}

.error_message
{
    padding: 1rem 0.5rem ;
    color: rgb(255, 0, 0);
    background-color: rgb(250, 195, 195);
    border-radius: 5px;
    font-weight: bold;
}

.loader {
  display:none;
  position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
